.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatbot_title{
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot_caja{
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 2em;
}

.chatbot_input{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.msg_user{
  padding: 1em;
  background-color: gray;
  color: white;
  border-radius: 5rem;
}

.msg_bot{
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 5rem;
}
.input_send{
  border: gray 2px solid;
  height: 3em;
  width: 80%;
  outline: none;
  border-radius: 5rem 0rem 0rem 5rem;
  padding-left: 2em;
  padding-right: 2em;
}

.btn_send{
  background-color: gray;
  border-radius: 0rem 5rem 5rem 0rem;
  border: none;
  height: 3em;
  width: 10%;
  color: white;
}

.btn_down{
  background-color: gray;
  border-radius: 5rem 5rem 5rem 5rem;
  border: none;
  height: 3em;
  width: 10%;
  color: white;
  margin-left: 5%;
}

